<div class="flex justify-between w-full gap-2 mt-2 text-5xl text-secondary">
  <i class="lab la-cc-visa"></i>
  <i class="lab la-cc-mastercard"></i>
  <i class="lab la-cc-diners-club"></i>
  <i class="lab la-cc-amex"></i>
</div>